@{
    ViewBag.Title = "Contact";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/images/pencil.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 161px, 0px);"></div>
</div>
<div class="container center">
    <h1>Contact Me!</h1>
    <p>Feel free to contact me!</p>
    <a href="mailto:cadalethomas95@hotmail.com">Cadalethomas95@hotmail.com</a><br />
    <a href="https://www.linkedin.com/in/cadale-thomas-0716a6bb" target="_blank"><i class="fa  fa-linkedin  fa-2x " title="LinkedIn"></i></a>
    <a href="http://github.com/atlasaeon" target="_blank"><i class="fa  fa-github  fa-2x " title="Github"></i></a>
</div>