@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><div class="row center">
                <h3 class="header col s12 grey-text text-lighten-2">“The capacity to learn is a gift; The ability to learn is a skill; The willingness to learn is a choice.”</h3>
                <h3 class="header col s12 grey-text text-lighten-2">― Brian Herbert, House Harkonnen</h3>
            </div><br>
        </div>
    </div>
    <div class="parallax"><img src="~/images/jet-engine.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 161px, 0px);"></div>
</div>
<div class="container center">
    <h1>Cadale Thomas</h1>
    <h3>Life long student, developer, gamer</h3>
</div>
